.about-row{
    width: 75%; 
    p{
        color: white;
        font-weight: 300;
        font-size: 20px;
    } 
}
@media (max-width: 1200px){
    .section__about{
        height: 55vh!important;
        .about-row{
            .col-1-of-2{
                width: 90%;
            }
        }
    }
}
@media (max-width: 900px){
    .section__about{
        height: 66vh!important;
        .about-row{
            .col-1-of-2{
                width: 90%;
            }
        }
    }
}
@media (max-width: 600px){
    .section__about{
        height: 78vh!important;
        .about-row{
            .col-1-of-2{
                width: 90%;
            }
        }
    }
}
@media (max-width: 414px){
    .section__about{
        height: 100vh!important;
        .about-row{
            .col-1-of-2{
                width: 90%;
            }
        }
    }
}