.section--footer{
    .footer__row{
        width: 70%!important;
        margin: 0 auto;
        padding-top: 3rem;
        .col-1-of-2{
            img{
                width: 80%;
            }
            .footer-text{
                position: absolute;
                margin-top: 20px;
                color: white;
                font-size: 40px;
                font-weight: 700;
            }
            .btn{
                float: right;
                position: relative;
                margin-top: 45px;
            }
        }
    }
}
.footer{
    .row{
        width: 80%;
        margin: 0 auto;
        padding-top: 35px;
        .col-1-of-3{
            p{
                margin-top: 10px;
                font-weight: 400;
                color: white;
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 1200px){
    .section--footer{
        height: 50vh!important;
        .footer__row{
            width: 80%!important;
            margin: 0 auto;
            padding-top: 3rem;
            .col-1-of-2{
                .footer-text{
                    position: absolute;
                    
                    color: white;
                    font-size: 40px;
                    font-weight: 700;
                }
                .btn{
                    width: 140px;
                    height: 38px;
                    margin-top: 70px;
                    float: right;
                    margin-left: 23%!important;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        height: 25vh!important;
        .row{
            width: 80%;
            margin: 0 auto;
            padding-top: 35px;
            .col-1-of-3{
                p{
                    margin-top: 10px;
                    font-weight: 400;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}    
@media (max-width:900px){
    .section--footer{
        height: 50vh!important;
        .footer__row{
            width: 90%!important;
            margin: 0 auto;
            padding-top: 3rem;
            .col-1-of-2{
                .footer-text{
                    position: absolute;
                    margin-top: -20px;
                    color: white;
                    font-size: 40px;
                    font-weight: 700;
                }
                .btn{
                    width: 140px;
                    height: 38px;
                    margin-top: 90px;
                    float: right;
                    margin-left: 5%!important;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        height: 25vh!important;
        .row{
            width: 80%;
            margin: 0 auto;
            padding-top: 35px;
            .col-1-of-3{
                p{
                    margin-top: 10px;
                    font-weight: 400;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}    
@media (max-width: 600px){
    .section--footer{
        height: 65vh!important;
        .row{
            text-align: center;
            width: 80%!important;
            margin: 0 auto;
            padding-top: 3rem;
            .col-1-of-2{
                img{
                    position: absolute;
                    left: 30%;
                    width: 40%;
                    margin: 0 auto!important;
                }
                display: block!important;
                float: none;
                margin-bottom: 100px!important;
                padding: 0%!important;
                .footer-text{
                    position: absolute;
                    color: white;
                    font-size: 40px;
                    font-weight: 700;
                    text-align: center;
                }
                .btn{
                    width: 140px;
                    height: 38px;
                    margin-top: 90px;
                    float: right;
                    margin-left: 13%!important;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        height: 30vh!important;
        .row{
            width: 90%;
            margin: 0 auto;
            padding-top: 35px;
            .col-1-of-3{
                width: 40%;
                display: block!important;
                float: none!important;
                p{
                    margin-top: 10px;
                    font-weight: 400;
                    color: white;
                    font-size: 20px;
                }
            }
            #righter
            {
                position: relative;
                width: 50%!important;
                float: right!important;
            }
            .righter--1{
                position: relative;
                text-align: center;
                margin-top: -70px;
                margin-right: 25px;
            }
            .righter--2{
                position: relative;
                text-align: center;
                // margin-top: -20px;
                margin-right: 25px;
            }
        }
    }
}    
@media (max-width: 414px){
    .section--footer{
        height: 65vh!important;
        .row{
            text-align: center;
            width: 80%!important;
            margin: 0 auto;
            padding-top: 3rem;
            .col-1-of-2{
                img{
                    position: absolute;
                    left: 30%;
                    width: 40%;
                    margin: 0 auto!important;
                }
                display: block!important;
                float: none;
                margin-bottom: 100px!important;
                padding: 0%!important;
                .footer-text{
                    color: white;
                    font-size: 32px;
                    font-weight: 600;
                    text-align: center;
                }
                .btn{
                    width: 140px;
                    height: 38px;
                    margin-top: 90px;
                    float: right;
                    margin-left: 10%!important;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        height: 45vh!important;
        .row{
            width: 60%;
            margin: 0 auto;
            padding-top: 35px;
            .col-1-of-3{
                margin-bottom: 20px;
                width: 150%!important;
                display: block!important;
                float: none!important;
                p{
                    margin-top: 10px;
                    font-weight: 400;
                    color: white;
                    font-size: 20px;
                }
                .footer--image{
                    width: 62%;
                    position: absolute;
                }
            }
            #righter
            {
                width: 100%!important;
                position: relative;
                float: right!important;
                margin-top: 50px;
                margin-right: -5px;
                margin-bottom: 0!important;
            }
            .righter--1{
                position: relative;
                text-align: center;
                margin-top: -70px;
                margin-right: 25px;
            }
            .righter--2{
                position: absolute;
                text-align: center;
                margin-top: 10px!important;
                margin-right: 25px;
            }
        }
    }
}    