.header__section{
    height: 70vh;
    background-image: url("../../images/bg-image1.png");
    background-size: cover;
    background-position: top;
    position: relative;
    .menu__image{
        img{
            width: 15%;
        }
    }
    .freekick__menu{
        width: 90%;
        padding-top: 15px!important;
        margin: 0 auto!important;
        .menu{
            display: inline-block;
            &__row{
                color: white;
                position: relative;
                text-align: center;
                margin-top: -45px;
                ul{
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    margin-right: 15px!important;
                    font-size: 20px;
                }
            }
            &__button{
                margin-top: -30px;
                position: relative;
                float: right;
                ul{
                    color: white;
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    margin-right: 15px!important;
                    font-size: 20px;
                }
            }
        }
    }
    .header-body{
        margin-top: 100px;
        .row{           
            p{
                color: white;
                padding: 11px;                        
                font-size: 20px;
            }
            .header-text{
                font-weight: 400;
                color: white;
                font-size: 28px ;
            }            
        }
    }
}
@media (max-width: 1200px){
    .header__section{
        height: 75vh;
        .freekick__menu{
            width: 90%;
            .menu{
                &__row{
                    ul{
                        margin-right: 13px!important;
                        font-size: 18px;
                    }
                }
                &__button{
                    margin-top: -30px;
                    ul{
                        margin-right: 13px!important;
                        font-size: 18px;
                    }
                    .btn{
                        width: 142px;
                        height: 38px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1050px){
    .header__section{
        height: 75vh;
        .freekick__menu{
            width: 90%;
            .menu{
                &__row{
                    
                    margin-top: -34px;
                    ul{
                        margin-right: 13px!important;
                        font-size: 18px;
                    }
                }
                &__button{
                    margin-top: -28px;
                }
            }
        }
    }
}
@media (max-width: 900px){
    .header__section{
        height: 80vh;
        .freekick__menu{
            width: 90%;
            .menu{
                &__row{
                    margin-top: -33px;
                    ul{
                        margin-right: 11px!important;
                        font-size: 16px;
                    }
                }
                &__button{
                    margin-top: -25px;
                    ul{
                        margin-right: 11px!important;
                        font-size: 16px;
                    }
                    .btn{
                        width: 132px;
                        height: 34px;
                    }
                }
            }
        }
    }
    .header-body{
        margin-top: 100px;
        .row{           
            p{
                padding: 11px;                        
                font-size: 20px;
            }
            .big--text{
                font-weight: 700;
                margin-bottom: 20px;
                font-size: 44px ;
            }
            .header-text{
                font-weight: 400;
                font-size: 28px ;
            }  
            .button{
                width: 132px;
                height: 34px;
            }          
        }
    }
}
@media (max-width: 750px){
    .header__section{
        height: 80vh;
        .freekick__menu{
            width: 90%;
            .menu{
                &__row{
                    position: relative;
                    margin-left: -100px;
                    margin-top: -25px;
                    ul{
                        margin-right: 11px!important;
                        font-size: 16px;
                    }
                }
                &__button{
                    margin-top: -25px;
                    ul{
                        margin-right: 11px!important;
                        font-size: 16px;
                    }
                    .btn{
                        width: 132px;
                        height: 34px;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    .header__section{
        height: 75vh;
        .freekick__menu{
            width: 90%;
            .menu{
                position: relative;
                &__row{
                    position: absolute;
                    margin-top: 2px;
                    margin-left: 0!important;
                    ul{
                        margin-right: 9px!important;
                        font-size: 16px;
                    }
                }
                &__button{
                    margin-top: -5px;
                    ul{
                        margin-right: 8px!important;
                        font-size: 16px;
                    }
                    .btn{
                        width: 112px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .header-body{
        margin-top: 70px!important;
        .row{           
            p{
                padding: 11px;                        
                font-size: 20px;
            }
            .big--text{
                font-weight: 600;
                margin-bottom: 20px;
                font-size: 36px ;
            }
            .header-text{
                font-weight: 400;
                font-size: 24px ;
            }  
            .button{
                margin-top: 30px;
                width: 132px;
                height: 34px;
            }   
            .more--link{
                font-size: 16px;
            }       
        }
    }
}
@media (max-width: 414px){
    .header__section{
        height: 75vh;
        .freekick__menu{
            width: 90%;
            .menu{
                position: relative;
                &__row{
                    position: absolute;
                    margin-top: 2px;
                    margin-left: 0!important;
                    ul{
                        margin-right: 9px!important;
                        font-size: 16px;
                    }
                }
                &__button{
                    position: absolute;
                    margin-top: 25px;
                    ul{
                        margin-right: 8px!important;
                        font-size: 16px;
                    }
                    .btn{
                        width: 112px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .header-body{
        margin-top: 70px!important;
        .row{           
            p{
                padding: 11px;                        
                font-size: 20px;
            }
            .big--text{
                font-weight: 600;
                margin-bottom: 20px;
                font-size: 36px ;
            }
            .header-text{
                font-weight: 400;
                font-size: 24px ;
            }  
            .button{
                margin-top: 30px;
                width: 112px;
                height: 30px;
            }   
            .more--link{
                font-size: 16px;
            }       
        }
    }
}