.section__news{
    position: relative;
    .row{
        border-top: 0.5px solid white;
        padding-top: 20px;
        border-bottom: 0.5px solid white;

        .cards{
            content: "";        
            clear: both;
            display: table;
            h4{
                
                display: inline-block;
                position: absolute;
                color: white;
            }
            .data--text{
                color: white;
            }
            .button--news{
                background-color: red;
                color: white;
            }
        }
    }
}
@media (max-width: 1300px){
    .section__news{
        height: 40vh!important;
    }
}
@media (max-width: 1200px){
    .section__news{
        height: 45vh!important;
    }
}
@media (max-width:900px){
    .section__news{
        height: 50vh!important;
        .row{
            width: 90%!important;
            .col-1-of-3{
                position: relative;
                display: inline-block;
                width: 45%!important;
                .cards{
                    
                }               
            }
            .right-card{
                position: absolute;
                float: right!important;
            }
        }
    }
}
@media (max-width: 600px){

}
@media (max-width: 414px){

}